@{
    ViewData["Title"] = "ImageSave";
}

<h1>Image Save</h1>

<form asp-controller="Home" asp-action="ImageSave" enctype="multipart/form-data">

    <input type="file" name="image"/>
    <button type="submit">Save</button>

</form>